# Charting the Course for Maji Ndogo

## Introduction

In this final part of the project, we finalise our data analysis using the full suite of SQL tools. We will extract our final insights, use these to classify Maji Ndogo's water sources, and prepare relevant data for Maji Ndogo's engineering teams.

### Notebook setup

In [1]:
%load_ext sql

In [4]:
%sql mysql+pymysql://root:L0xbysmrben%23@localhost:3306/md_water_services

# Joining Pieces Together

We still have a bit of analysis to wrap up, and then we need to create a table that helps Maji Ndogo's engineers track their progress. Let's start with the last bit of analysis. It's tempting to put all of the columns from all of the tables in one place/table, and then analyse the data, but on a database of this size in our hands, we're going to run into performance issues.

We could spend a minute thinking about the questions we still have, and create queries to answer them, specifically. Doing this means that we will only use the data we need to answer our question. Let's summarise the data we need, and where to find it:

- All of the information about the location of a water source is in the `location` table, specifically the `town` and `province` of that water source.
- `water_source` has the `type_of_source` and the `number_of_people_served` by each source.
- `visits` has queue information, and connects `source_id` to `location_id`. There were multiple visits to sites, so we need to be careful not to include duplicate data (visit_count > 1).
- `well_pollution` has information about the quality of water from only wells, so we need to keep that in mind when we join this table.

> **NOTE:** Previously, we couldn't link provinces and towns to the type of water sources, the number of people served by those sources, queue times, or pollution data, but we can now. So, what type of relationships can we look at?

Here are some things to think about:

1. Are there any specific provinces, or towns where some sources are more abundant?
2. We identified that `tap_in_home_broken_taps` are easy wins. Are there any towns where this is a particular problem?

To answer question 1, we will need `province_name` and `town_name` from the `location` table. We also need to know `type_of_water_source` and `number_of_people_served` from the `water_source` table.

The problem is that the `location` table uses `location_id` while `water_source` only has `source_id`. So we won't be able to join these tables directly. But the `visits` table maps `location_id` and `source_id`. So if we use `visits` as the table we query from, we can join `location` where the `location_id` matches, and `water_source` where the `source_id` matches.

We need to assemble data into a table first before we can analyse it. This will make our analysis less arduous than it needs to be!

In [19]:
%%sql 
SELECT 
    l.province_name, 
    l.town_name,
    L.location_type,
    ws.type_of_water_source,
    v.time_in_queue,
    wp.results,
    ws.number_of_people_served
FROM 
    visits AS v
JOIN 
    location AS l
ON 
    v.location_id = l.location_id
JOIN 
    water_source AS ws 
ON 
    ws.source_id = v.source_id
JOIN
	well_pollution AS wp
ON 
    wp.source_id = v.source_id
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('Kilimani', 'Rural', 'Rural', 'well', 0, 'Contaminated: Biological', 252),
 ('Akatsi', 'Lusaka', 'Urban', 'well', 0, 'Contaminated: Biological', 210),
 ('Hawassa', 'Zanzibar', 'Urban', 'well', 0, 'Contaminated: Chemical', 308),
 ('Hawassa', 'Rural', 'Rural', 'well', 0, 'Clean', 296),
 ('Sokoto', 'Rural', 'Rural', 'well', 0, 'Contaminated: Biological', 308),
 ('Akatsi', 'Harare', 'Urban', 'well', 0, 'Contaminated: Chemical', 390),
 ('Hawassa', 'Serowe', 'Urban', 'well', 0, 'Clean', 300),
 ('Hawassa', 'Yaounde', 'Urban', 'well', 0, 'Contaminated: Chemical', 334),
 ('Sokoto', 'Rural', 'Rural', 'well', 0, 'Contaminated: Biological', 394),
 ('Akatsi', 'Lusaka', 'Urban', 'well', 0, 'Contaminated: Chemical', 350)]

In [10]:
%%sql 
SELECT * FROM visits LIMIT 3;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
3 rows affected.

[(0, 'SoIl32582', 'SoIl32582224', datetime.datetime(2021, 1, 1, 9, 10), 1, 15, 12),
 (1, 'KiRu28935', 'KiRu28935224', datetime.datetime(2021, 1, 1, 9, 17), 1, 0, 46),
 (2, 'HaRu19752', 'HaRu19752224', datetime.datetime(2021, 1, 1, 9, 36), 1, 62, 40)]

In [11]:
%%sql 
SELECT * FROM location LIMIT 3;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
3 rows affected.

[('AkHa00000', '2 Addis Ababa Road', 'Akatsi', 'Harare', 'Urban'),
 ('AkHa00001', '10 Addis Ababa Road', 'Akatsi', 'Harare', 'Urban'),
 ('AkHa00002', '9 Addis Ababa Road', 'Akatsi', 'Harare', 'Urban')]

In [13]:
%%sql 
SELECT * FROM water_source LIMIT 3

 * mysql+pymysql://root:***@localhost:3306/md_water_services
3 rows affected.

[('AkHa00000224', 'tap_in_home', 956),
 ('AkHa00001224', 'tap_in_home_broken', 930),
 ('AkHa00002224', 'tap_in_home_broken', 486)]

The table we get from our query's result above contains the data we need for our analysis. We want to analyse the data in this result set. We can either create a **CTE**, and then query it, or in this case, we'll make it a VIEW. we'll call it the `combined_analysis_table`.

In [20]:
%%sql
CREATE VIEW combined_analysis_table AS
# This view combines multiple tables of interest for simplified analysis
SELECT
    l.province_name,
    l.town_name,
    ws.type_of_water_source AS source_type,
    l.location_type,
    ws.number_of_people_served AS people_served,
    v.time_in_queue,
    wp.results
FROM
	visits AS v
LEFT JOIN
	well_pollution AS wp
    ON wp.source_id = v.source_id
JOIN
	location AS l
    ON v.location_id = l.location_id
JOIN
	water_source AS ws
    ON ws.source_id = v.source_id
WHERE 
	v.visit_count = 1
LIMIT 10
;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
0 rows affected.

[]

This view creates, exactly what its name says, a **view** that pulls all of the important information from different tables in our schema into a single viewpoint. If you notice the query starting to slow down, that's alright because it involves a lot of steps, and runs on ~60000 rows of data.

# The Last Analysis

Let's build another pivot table! This time, we want to break down our data into provinces or towns and source types to help us understand:

1. Where the problems are
2. What we need to improve at those locations

This will help us make informed decisions on where to send Maji Ndogo's repair teams. So let's get to querying! 😄

In [35]:
%%sql
-- calculate the total pop of Maji Ndogo using the sum of people served by diff water sources
WITH province_totals AS (
    SELECT
        province_name,
        SUM(people_served) AS total_ppl_serv
    FROM
        combined_analysis_table AS ws
    GROUP BY
        province_name
)
SELECT
    *
FROM
    province_totals;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[('Sokoto', Decimal('402')),
 ('Kilimani', Decimal('1676')),
 ('Hawassa', Decimal('850')),
 ('Akatsi', Decimal('3304')),
 ('Amanzi', Decimal('556'))]

In [37]:
%%sql
# Aggregate the population access to different source types per province
WITH province_totals AS (
	SELECT
		province_name,
        SUM(people_served) AS total_ppl_serv
	FROM
		combined_analysis_table
	GROUP BY
		province_name
)
SELECT
	ct.province_name,
	ROUND(SUM(
        CASE 
            WHEN source_type = "river" 
            THEN people_served ELSE 0
        END) * 100.0 / pt.total_ppl_serv) AS river,
    ROUND(SUM(
        CASE 
            WHEN source_type = "shared_tap" 
            THEN people_served ELSE 0 
        END) * 100.0 / pt.total_ppl_serv) AS shared_tap,
    ROUND(SUM(
        CASE 
            WHEN source_type = "tap_in_home" 
            THEN people_served ELSE 0 
        END) * 100.0 / pt.total_ppl_serv) AS tap_in_home,
    ROUND(SUM(
        CASE 
            WHEN source_type = "tap_in_home_broken" 
            THEN people_served ELSE 0 
        END) * 100.0 / pt.total_ppl_serv) AS tap_in_home_broken,
    ROUND(SUM(
        CASE 
            WHEN source_type = "well" 
            THEN people_served ELSE 0 
        END) * 100.0 / pt.total_ppl_serv) AS well
FROM
	combined_analysis_table AS ct
JOIN
	province_totals AS pt
    ON ct.province_name = pt.province_name
GROUP BY
	ct.province_name
ORDER BY
	ct.province_name;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
5 rows affected.

[('Akatsi', Decimal('0'), Decimal('79'), Decimal('0'), Decimal('15'), Decimal('6')),
 ('Amanzi', Decimal('0'), Decimal('0'), Decimal('100'), Decimal('0'), Decimal('0')),
 ('Hawassa', Decimal('0'), Decimal('64'), Decimal('0'), Decimal('0'), Decimal('36')),
 ('Kilimani', Decimal('51'), Decimal('0'), Decimal('34'), Decimal('0'), Decimal('15')),
 ('Sokoto', Decimal('100'), Decimal('0'), Decimal('0'), Decimal('0'), Decimal('0'))]

Here some of the patterns emanating from our crafted pivot table:

- Look at the river column, Sokoto has the largest population of people drinking river water. Maji Ndogo should send their drilling equipment to Sokoto first, so people can drink safe filtered water from a well.
- The majority of water from Amanzi comes from taps, but half of these home taps don’t work because the infrastructure is broken. Maji Ndogo needs to send out their engineering teams to look at the infrastructure in Amanzi first. Fixing a large pump, treatment plant or reservoir means that thousands of people will have running water. This means they will also not have to queue for water, hence they stand to improve two things at once.

Here’s a visualisation of the pivot table above 👇.

### A Visualisation of Water Sources!

Awesome, let’s aggregate the data per town now. Recall that there are two towns in Maji Ndogo called Harare. One is in Akatsi, and one is in Kilimani. Amina is another example. So when we just aggregate by town, SQL doesn’t distinguish between the different Harare’s, so it combines their results. To get around that, we have to group by province first, then by town, so that the duplicate towns are distinct because they are in different provinces.

In [38]:
%%sql
# Aggregate the population access to different source types per province and town
WITH town_totals AS (
	SELECT
		province_name,
        town_name,
        SUM(people_served) AS total_ppl_serv
	FROM
		combined_analysis_table
	GROUP BY
		province_name,
        town_name
)
SELECT
	ct.province_name,
    ct.town_name,
	ROUND(SUM(CASE WHEN source_type = "river" THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv) AS river,
    ROUND(SUM(CASE WHEN source_type = "shared_tap" THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv) AS shared_tap,
    ROUND(SUM(CASE WHEN source_type = "tap_in_home" THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv) AS tap_in_home,
    ROUND(SUM(CASE WHEN source_type = "tap_in_home_broken" THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv) AS tap_in_home_broken,
    ROUND(SUM(CASE WHEN source_type = "well" THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv) AS well
FROM
	combined_analysis_table AS ct
JOIN
	town_totals AS tt
    ON ct.province_name = tt.province_name
    AND ct.town_name = tt.town_name
GROUP BY
	ct.province_name,
    ct.town_name
ORDER BY
	ct.town_name;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
7 rows affected.

[('Amanzi', 'Dahabu', Decimal('0'), Decimal('0'), Decimal('100'), Decimal('0'), Decimal('0')),
 ('Sokoto', 'Ilanga', Decimal('100'), Decimal('0'), Decimal('0'), Decimal('0'), Decimal('0')),
 ('Akatsi', 'Lusaka', Decimal('0'), Decimal('0'), Decimal('0'), Decimal('0'), Decimal('100')),
 ('Kilimani', 'Rural', Decimal('51'), Decimal('0'), Decimal('34'), Decimal('0'), Decimal('15')),
 ('Hawassa', 'Rural', Decimal('0'), Decimal('100'), Decimal('0'), Decimal('0'), Decimal('0')),
 ('Akatsi', 'Rural', Decimal('0'), Decimal('84'), Decimal('0'), Decimal('16'), Decimal('0')),
 ('Hawassa', 'Zanzibar', Decimal('0'), Decimal('0'), Decimal('0'), Decimal('0'), Decimal('100'))]

This query can take a while to calculate. Before we jump into the data, let's store it as a temporary table first, so it is quicker to access. Temporary tables in SQL are a nice way to store the results of a complex query. We run the query once, and the results are stored as a table. The catch? If you close the database connection, it deletes the table, so you have to run it again each time you start working in MySQL. The benefit is that we can use the table to do more calculations, without running the whole query each time

In [43]:
%%sql
-- Create a temporary table called town_aggregated_water_access
CREATE TEMPORARY TABLE town_aggregated_water_access AS
WITH town_totals AS (
    SELECT
        province_name,
        town_name,
        SUM(people_served) AS total_ppl_serv
    FROM
        combined_analysis_table
    GROUP BY
        province_name,
        town_name
)
SELECT
    ct.province_name,
    ct.town_name,
    ROUND(COALESCE(SUM(CASE WHEN source_type = "river" THEN people_served ELSE 0 END) * 100.0 / NULLIF(tt.total_ppl_serv, 0), 0)) AS river,
    ROUND(COALESCE(SUM(CASE WHEN source_type = "shared_tap" THEN people_served ELSE 0 END) * 100.0 / NULLIF(tt.total_ppl_serv, 0), 0)) AS shared_tap,
    ROUND(COALESCE(SUM(CASE WHEN source_type = "tap_in_home" THEN people_served ELSE 0 END) * 100.0 / NULLIF(tt.total_ppl_serv, 0), 0)) AS tap_in_home,
    ROUND(COALESCE(SUM(CASE WHEN source_type = "tap_in_home_broken" THEN people_served ELSE 0 END) * 100.0 / NULLIF(tt.total_ppl_serv, 0), 0)) AS tap_in_home_broken,
    ROUND(COALESCE(SUM(CASE WHEN source_type = "well" THEN people_served ELSE 0 END) * 100.0 / NULLIF(tt.total_ppl_serv, 0), 0)) AS well
FROM
    combined_analysis_table AS ct
JOIN
    town_totals AS tt
    ON ct.province_name = tt.province_name
    AND ct.town_name = tt.town_name
GROUP BY
    ct.province_name,
    ct.town_name
ORDER BY
    ct.town_name;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
7 rows affected.

[]

Let's order the results set by each column. If we order river in DESCending order it confirms what we saw on a provincial level. People are drinking river water in Sokoto.

In [44]:
%%sql
# Order the aggregated town access by river in descending order
SELECT
	province_name,
    town_name,
    river,
    shared_tap,
    tap_in_home,
    tap_in_home_broken
FROM
	town_aggregated_water_access
ORDER BY 
	river DESC;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
7 rows affected.

[('Sokoto', 'Ilanga', Decimal('100'), Decimal('0'), Decimal('0'), Decimal('0')),
 ('Kilimani', 'Rural', Decimal('51'), Decimal('0'), Decimal('34'), Decimal('0')),
 ('Amanzi', 'Dahabu', Decimal('0'), Decimal('0'), Decimal('100'), Decimal('0')),
 ('Akatsi', 'Lusaka', Decimal('0'), Decimal('0'), Decimal('0'), Decimal('0')),
 ('Hawassa', 'Rural', Decimal('0'), Decimal('100'), Decimal('0'), Decimal('0')),
 ('Akatsi', 'Rural', Decimal('0'), Decimal('84'), Decimal('0'), Decimal('16')),
 ('Hawassa', 'Zanzibar', Decimal('0'), Decimal('0'), Decimal('0'), Decimal('0'))]

But look at the `tap_in_home` percentages in Sokoto too. Some of Maji Ndogo's citizens are forced to drink unsafe water from a river, while a lot of people have running water in their homes in Sokoto. Large disparities in water access like this allude to wealth distribution in Sokoto being unequal. We should mention this in Maji Ndogo's report. Maji Ndogo should also send their drilling teams to Sokoto first to drill some wells for the people who are drinking river water, specifically the rural parts and the city of Bahari.

Next, let's sort the data b`y province_na`me and look at the data for Amina in Amanzi. Here onl**y **3% of Amina's citizens have access to running tap water in their homes. More than half of the people in Amina have taps installed in their homes, but they are not working. Maji Ndogo should send out their teams to go and fix the infrastructure in Amina first. Fixing taps in people's homes, means those people don't have to queue for water anymore making queues in Amina shorter!

In [45]:
%%sql
# Order the data by province name
SELECT
	province_name,
    town_name,
    river,
    shared_tap,
    tap_in_home,
    tap_in_home_broken
FROM
	town_aggregated_water_access
ORDER BY 
	province_name;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
7 rows affected.

[('Akatsi', 'Lusaka', Decimal('0'), Decimal('0'), Decimal('0'), Decimal('0')),
 ('Akatsi', 'Rural', Decimal('0'), Decimal('84'), Decimal('0'), Decimal('16')),
 ('Amanzi', 'Dahabu', Decimal('0'), Decimal('0'), Decimal('100'), Decimal('0')),
 ('Hawassa', 'Rural', Decimal('0'), Decimal('100'), Decimal('0'), Decimal('0')),
 ('Hawassa', 'Zanzibar', Decimal('0'), Decimal('0'), Decimal('0'), Decimal('0')),
 ('Kilimani', 'Rural', Decimal('51'), Decimal('0'), Decimal('34'), Decimal('0')),
 ('Sokoto', 'Ilanga', Decimal('100'), Decimal('0'), Decimal('0'), Decimal('0'))]

There are still many gems hidden in this table. For instance, consider which town has the highest ratio of people who have taps, but have no running water? Run the following query 👇🏾.

In [46]:
%%sql
# Compute the town with the highest ratio of a population with taps but no running water
SELECT
    province_name,
    town_name,
    ROUND(tap_in_home_broken / (tap_in_home + tap_in_home_broken) * 100.0) AS pct_broken_taps
FROM
    town_aggregated_water_access
WHERE province_name = "Amanzi"
ORDER BY pct_broken_taps DESC;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
1 rows affected.

[('Amanzi', 'Dahabu', Decimal('0'))]

We can see that Amina has infrastructure installed, but almost none of it is working, and only the capital city, Dahabu's water infrastructure works.

# Summary Report

## Insights

Ok, so let's sum up the data we have. Here are a couple of interesting insights:

1. Most water sources are rural in Maji Ndogo.
2. 43% of Maji Ndogo's people are using shared taps. 2000 people often share one tap.
3. 31% of Maji Ndogo's population has water infrastructure in their homes, but within that group,
4. 48% face non-functional systems due to issues with pipes, pumps, and reservoirs. Towns like Amina, the rural parts of Amanzi, and a couple of towns across Akatsi and Hawassa have broken infrastructure.
5. 18% of Maji Ndogo's people are using wells of which, but within that, only 28% are clean. These are mostly in Hawassa, Kilimani and Akatsi.
6. Maji Ndogo's citizens often face long wait times for water, averaging more than 120 minutes: 
   - Queues are very long on Saturdays.
   - Queues are longer in the mornings and evenings.
   - Wednesdays and Sundays have the shortest queues.

## From Analysis to Action

Our final goal is to implement our plan in the database. We have a plan to improve the water access in Maji Ndogo, so we need to think it through, and as our final task, create a table where Maji Ndogo's teams have the information they need to fix, upgrade and repair water sources. They will need the addresses of the places they should visit (street address, town, province), the type_of_water_source they should improve, and what should be done to improve it.

We should also make space for them in the database to update us on their progress. We need to know if the repair is complete, and the date it was completed, and give them space to upgrade the sources. Let's call this table `Project_progress`.

In [50]:
# %%sql
# # Create a table to keep track of engineers' progress
# CREATE TABLE project_progress(
# 	project_id SERIAL PRIMARY KEY,
#     source_id VARCHAR(20) NOT NULL REFERENCES water_source(source_id) ON DELETE CASCADE ON UPDATE CASCADE,
#     address VARCHAR(50),
#     town VARCHAR(30),
#     source_type VARCHAR(50),
#     improvement VARCHAR(50),
#     source_status VARCHAR(50) DEFAULT 'Backlog' CHECK (source_status IN ('Backlog', 'In progress', 'Complete')),
#     date_of_completion DATE,
#     comments TEXT
# );

In [52]:
%%sql
# Retrieve necessary information to populate the progress table values
SELECT
	location.address,
    location.province_name,
    location.town_name,
    water_source.source_id,
    water_source.type_of_water_source,
    well_pollution.results
FROM
	water_source
LEFT JOIN
	well_pollution
    ON water_source.source_id = well_pollution.source_id

INNER JOIN
	visits
    ON water_source.source_id = visits.source_id
INNER JOIN
	location
    ON location.location_id = visits.location_id
WHERE
	visits.visit_count = 1
    AND (
		well_pollution.results != "Clean"
        OR water_source.type_of_water_source IN ("river", "tap_in_home_broken")
        OR (water_source.type_of_water_source = "shared_tap" AND visits.time_in_queue >= 30)
    )
LIMIT 10
;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[('36 Pwani Mchangani Road', 'Sokoto', 'Ilanga', 'SoIl32582224', 'river', None),
 ('129 Ziwa La Kioo Road', 'Kilimani', 'Rural', 'KiRu28935224', 'well', 'Contaminated: Biological'),
 ('18 Mlima Tazama Avenue', 'Hawassa', 'Rural', 'HaRu19752224', 'shared_tap', None),
 ('100 Mogadishu Road', 'Akatsi', 'Lusaka', 'AkLu01628224', 'well', 'Contaminated: Biological'),
 ('26 Bahari Ya Faraja Road', 'Kilimani', 'Rural', 'KiRu29315224', 'river', None),
 ('104 Kenyatta Street', 'Akatsi', 'Rural', 'AkRu05234224', 'tap_in_home_broken', None),
 ('117 Kampala Road', 'Hawassa', 'Zanzibar', 'HaZa21742224', 'well', 'Contaminated: Chemical'),
 ('55 Fennec Way', 'Sokoto', 'Rural', 'SoRu35008224', 'shared_tap', None),
 ('52 Moroni Avenue', 'Sokoto', 'Rural', 'SoRu35703224', 'well', 'Contaminated: Biological'),
 ('51 Addis Ababa Road', 'Akatsi', 'Harare', 'AkHa00070224', 'well', 'Contaminated: Chemical')]

In [53]:
# %%sql
# CREATE VIEW progress_table_values AS
# SELECT
# 	location.address,
#     location.province_name,
#     location.town_name,
#     water_source.source_id,
#     water_source.type_of_water_source,
#     visits.time_in_queue,
#     well_pollution.results
# FROM
# 	water_source
# LEFT JOIN
# 	well_pollution
#     ON water_source.source_id = well_pollution.source_id

# INNER JOIN
# 	visits
#     ON water_source.source_id = visits.source_id
# INNER JOIN
# 	location
#     ON location.location_id = visits.location_id
# WHERE
# 	visits.visit_count = 1
#     AND (
# 		well_pollution.results != "Clean"
#         OR water_source.type_of_water_source IN ("river", "tap_in_home_broken")
#         OR (water_source.type_of_water_source = "shared_tap" AND visits.time_in_queue >= 30)
#     );

In [54]:
# %%sql
# # Insert relevant records in the project_progress table
# INSERT INTO project_progress (source_id, address, town, source_type, improvement)
# SELECT
# 	source_id,
#     address,
#     town_name,
#     type_of_water_source,
#     CASE 
# 		WHEN type_of_water_source = "well" AND results = "Contaminated: Biological" THEN "Install UV filter"
#         WHEN type_of_water_source = "well" AND results = "Contaminated: Chemical" THEN "Install OR filter"
#         WHEN type_of_water_source = "river" THEN "Drill well"
#         WHEN type_of_water_source = "shared_tap" AND time_in_queue >= 30 THEN CONCAT("Install ", FLOOR(time_in_queue/30), " nearby")
#         WHEN type_of_water_source = "tap_in_home_broken" THEN "Diagnose local insfrastructure"
#         ELSE NULL END AS improvement
# FROM progress_table_values;

In [57]:
%%sql 
SELECT * FROM project_progress
LIMIT 10;

 * mysql+pymysql://root:***@localhost:3306/md_water_services
10 rows affected.

[(1, 'SoIl32582224', '36 Pwani Mchangani Road', 'Ilanga', 'Sokoto', 'river', 'Drill Well', 'Backlog', None, None),
 (2, 'KiRu28935224', '129 Ziwa La Kioo Road', 'Rural', 'Kilimani', 'well', 'Install UV Filter', 'Backlog', None, None),
 (3, 'HaRu19752224', '18 Mlima Tazama Avenue', 'Rural', 'Hawassa', 'shared_tap', 'Install 2 taps nearby', 'Backlog', None, None),
 (4, 'AkLu01628224', '100 Mogadishu Road', 'Lusaka', 'Akatsi', 'well', 'Install UV Filter', 'Backlog', None, None),
 (5, 'KiRu29315224', '26 Bahari Ya Faraja Road', 'Rural', 'Kilimani', 'river', 'Drill Well', 'Backlog', None, None),
 (6, 'AkRu05234224', '104 Kenyatta Street', 'Rural', 'Akatsi', 'tap_in_home_broken', 'Diagnose Local Infrastructure', 'Backlog', None, None),
 (7, 'HaZa21742224', '117 Kampala Road', 'Zanzibar', 'Hawassa', 'well', 'Install RO Filter', 'Backlog', None, None),
 (8, 'SoRu35008224', '55 Fennec Way', 'Rural', 'Sokoto', 'shared_tap', 'Install 8 taps nearby', 'Backlog', None, None),
 (9, 'SoRu35703224', '52 Moroni Avenue', 'Rural', 'Sokoto', 'well', 'Install UV Filter', 'Backlog', None, None),
 (10, 'AkHa00070224', '51 Addis Ababa Road', 'Harare', 'Akatsi', 'well', 'Install RO Filter', 'Backlog', None, None)]

There we go, all done! Now we send off our summary reports and plans to action to the relevant stakeholders with our main findings, so they can start organising the teams.